# tech andes email - e.g. john.doe@techandes.com
MAILER_EMAIL=
# https://myaccount.google.com/apppasswords
# 1. get into google acount apps
# 2. create a new app password
# 2. once created you should get a passkey - e.g. fowa zine mrtu keld
MAILER_SECRET_KEY=
# email that receives the invoice - e.g melanie.spiteri@techandes.com
SENT_TO=
INCLUDE_CLAUDE_SUBSCRIPTION=true